/* 解决浮动问题 */
.main::before,.main::after{
    display: table;
    content: "";
}
.main::after{
    clear: both;
}

.content{
    width: auto;
    margin:0;
}
.main{
    margin:auto;
    position: relative;
    height: 605px;
    width: 80%;
}
.main_category{
    position:absolute;
    left:70px;
    top:40px;
    padding: 0;
    background-color: #3A6E90;
    width: 80%;
    height:35px;
    box-shadow:  0.5px 0.5px 0.5px 0.5px #183246;
}
.main_director{
    float: left;
    margin:0;
    padding:0;
}
.main_director a{
    float: left;
    display: block;
    height: 35px;
    line-height: 35px;
    padding-left:10px;
    padding-right:10px;
    border-right: 1px solid #2F5672;
    color:#B4D1DC;
    font-size: 13px;
    text-shadow: 0.5px 0.5px 0.5px #183246
}
.main_director a:hover{
    background-color:#DAE3E9;
    color:black;
}
.main_search{
    display: block;
    float: right;
    height:35px;
    line-height:35px;
    width:238px;
    padding: 3px 2px 4px 4px;
}
.main_search .search_area{
    float:right;
    height:28px;
    width:230px;
    padding-left: 15px;
    padding-right: 3px;
    border: 1px solid #24445A;
    border-radius: 3px;
    background-color:#346281;
    box-shadow: 0 1px 0 #618DAB;
}
.main_search .search_area:hover{
    border: 1px solid #4588B4;
    box-shadow: 0 0 0 #618DAB;
}

.main_search .search_area .search_text{
    float:left;
    height:28px;
    width: 200px;
    background-color: #346281;
    outline: 0;
    border:0;
    padding: 0;
}

.main_search .search_area .search_btn{
    float: right;
    height:25px;
    width: 25px;
    border:0;
    outline:0;
    margin-top:2px; 
    padding: 0;
    background-color: #5498C2;
    color: #3C607F;
    font-size: 25px; 
    font-weight: bold;
}
.main_search .search_area .search_btn:hover{
    background-color: #64B2E3;
    cursor: pointer;
    color:#30435D;
}

.main_title{
    position:absolute;
    left:70px;
    top:110px;
    padding: 5px;
    width: 90%;
    height:25px;
    line-height:25px;
}
.main_title h{
    font-family: "Motiva Sans", Sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #fff;
    letter-spacing: 2px;
    font-weight: normal;
}
.main_recommend{
    position: relative;
    top:155px;
    left:0px;
    /* border:1px solid black; */
    height: 425px;
    width:100%;

}
.main_arrow{
    position: absolute;
    top:158.5px;
    height: 108px;
    width: 100%;
}
.main_recommend a{
    display: block;
    font-size: 70px;
    font-weight: bold;
    margin-left:-15px;
    color: white;
    height: 108px;
    width: 45px;
    line-height: 108px;
}
.main_arrow_left{
    float: left;
    height:108px;
    width: 45px;
    background:linear-gradient(to right, #163245, transparent);
}
.main_arrow_left:hover{
    background:linear-gradient(to right, #49738D, transparent);
}

.main_arrow_right{
    float: right;
    height:108px;
    width: 45px;
    background:linear-gradient(to left, #163245, transparent);
}
.main_arrow_right:hover{
    background:linear-gradient(to left, #49738D, transparent);
}
.main_imgarea{
    margin:auto;
    padding:0;
    /* border:1px solid black; */
    height: 412.5px;
    width:80%;
}

/* 从这里开始的css代码全都和js相关，不要乱改
 * 4/6到底是什么时候乱改的
 * awsl   
*/


 #div1
 {
     position: relative;
     margin: 10px auto;
      border: 1px solid black;
      width: 100%;
      height:100%;
      overflow: hidden;
  }
  #div1 ul
  {
      position: absolute;
      left:0;
      height:100%;
      /* width在不使用liveserver的时候可以删除
       * 妥协
       */
      width:9532px;
  }
  #div1 ul li
  {
      float:left;
      padding-left: 10px;
      width: auto;
      height: 100%;
      cursor: pointer;
  }
  #div1 ul li img
  {
      width: auto;
      height: 100%;
  }

  .img_description{
    position: absolute;
    background: black;
    opacity: 0.5;
    top:0px;
    width: auto;
    height: 100%;
    text-align: center;
    color:white;
    padding:15px;
    display: flex;
    box-shadow: 0 0 10px white;
}
.img_description p, .img_description h1, .img_description br{
    writing-mode: vertical-lr;
}

.img_description p{
    margin:0 auto;
}


